{% extends "padre.html" %}

{% load static %}

{% block contenido %}

</form>

<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th> 
        <th scope="col">Emaail</th>
        <th scope="col">Edad</th>          
    </tr>
</thead>
<tbody>
    {% for n in paciente %}
    <tr>
        <th scope="row">{{n.id}}</th>
        <td>{{n.nombre}}</td>
        <td>{{n.apellido}}</td>
        <td>{{n.email}}</td>
        <td>{{n.edad}}</td>
    
    </tr>
    {% endfor %}        

    </tbody>
</table>

{% endblock %}